.button {
  background: #F8E71C;
  border: 1px solid #979797;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease-in-out;
  &:hover {
    background: lighten(#F8E71C, 20%);
  }
}
