//Variables

// Fonts
$Dosis: 'Dosis', sans-serif;

// Colors
$textBlue: #005EA5;
$light: #9B9B9B;


// Media
$med: "only screen and (min-width : 48rem)";
$lrg: "only screen and (min-width : 60rem)";
